pytest  # Latest available version as of February 2026
playwright
pytest-playwright
allure-pytest
python-dotenv
pytest-xdist
pytest-bdd
pandas
openpyxl>=2.4.2
pytest-html
requests>=2.32.4
matplotlib
allure-python-commons
behave
pytest-timeout
pytest-cov
flake8  # Code quality checker for Jenkins pipeline
