pytest
playwright
pytest-playwright
allure-pytest
python-dotenv        # Za učitavanje .env fajlova (partner_num, username...)
pytest-xdist         # Za paralelno izvršavanje testova (bitno za stabilnost)
pytest-bdd
pandas               # Za čitanje Excel fajlova
openpyxl             # Engine za pandas da čita .xlsx fajlove
pytest-html